.bodyInner{
    display: flex;
    margin: 0;
    padding: 0;
    background-color: tan;
    height: 100vh;
    align-items: center;
    justify-content: center;
  

}
.body-item{
    width: 400px;
   
    
}